suggestions {
  .suggestions {
    position: absolute;
    bottom: 0;
    margin-bottom: 55px;
    margin-bottom: calc(env(safe-area-inset-bottom) + 53px);
    margin-bottom: calc(constant(safe-area-inset-bottom) + 53px);
    width: 100%;
    left: 0;
    right: 0;
  }
  .suggestions * {
    text-align: center;
  }
  .suggestion-chip {
    background-color: #e30000;
    margin: 0px 5px;
  }
  .suggestion-chip * {
    color: white;
    font-size: 1.3rem;
  }
  .scrollable {
    width: 100vw;
    height: 40px;
    direction: rtl;
  }
  .scrollable .scroll-content {
    margin-bottom: 0px !important;
  }
}