<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>🍕 🍔</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="chat">
  <div class="message" *ngFor="let msg of messages">
    <div *ngIf="msg.type === 'regular'" [attr.class]="msg.isWatson ? 'fromThem' : 'myMessage'">
      <p>{{msg.content}}</p>
      <p class="date">{{msg.timestamp}}</p>
    </div>
    <div class="fromThem nohover restaurant" *ngIf="msg.type === 'menu'">
      <img class="restaurantLogo" src="{{msg.restaurant.logoImage}}" />
      <h3 text-center no-margin>مطعم {{msg.restaurant.name}}</h3>
      <ion-grid>
        <ion-row wrap>
          <ion-col *ngFor="let item of msg.restaurant.menu" col-6>
            <ion-card class="menuItem">
              <img src="{{item.image}}" />
              <ion-card-content>
                <ion-card-title>
                  {{item.name}}
                </ion-card-title>
                <p class="price">
                  {{item.price}} ريال
                </p>
                <p text-center>
                  مع بيبسي وبطاطس.
                </p>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <button ion-button clear large (click)="loadMoreItems(msg.restaurant)">المزيد</button>
      </ion-grid>
    </div>
    <div class="fromThem nohover restaurant" *ngIf="msg.type === 'restaurants-list'">
      <ion-grid>
        <ion-row wrap>
          <ion-col *ngFor="let restaurant of restaurants" col-6>
            <ion-card class="menuItem">
              <img class="restaurants-list-logo" src="{{restaurant.logoImage}}" />
              <ion-card-content>
                <ion-card-title>
                  {{restaurant.name}}
                </ion-card-title>
                <p class="price">
                  {{restaurant.location}}
                </p>

                <button ion-button outline full color="red" (click)="loadMoreItems(msg.restaurant)">اطلب</button>
              </ion-card-content>
            </ion-card>
          </ion-col>
        </ion-row>
        <button ion-button clear large (click)="loadMoreItems(msg.restaurant)">المزيد</button>
      </ion-grid>
    </div>
  </div>
</ion-content>

<ion-footer (touchstart)="footerTouchStart($event)">
  <ion-toolbar class="bottom-bar">
    <ion-buttons left>
      <button ion-button color="red" (touchstart)="touchSendButton($event);" [disabled]="message == ''">
        <ion-icon name="send"></ion-icon>
      </button>
    </ion-buttons>
    <form>
      <ion-input type="text" placeholder="ادخل رسالتك.." [(ngModel)]="message" (keyup.enter)="send();" name="message"></ion-input>
    </form>
  </ion-toolbar>
</ion-footer>