<!--
  Generated template for the ChatPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="gold">
    <ion-buttons end>
      <button ion-button icon-only (click)="controlSuggestions()">
        <ion-icon color="red" name="ios-information-circle-outline"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      <img class="title-image" src="https://pizza-t.net/assets/front/food_oddappz/images/food_oddappz.png?1522516070" height="40"
        alt="">
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="chat" padding-bottom padding-bottom>
  <div class="chat-content">
    <div class="message" *ngFor="let msg of messages">
      <div *ngIf="msg.type === 'regular'" [attr.class]="msg.isWatson ? 'fromThem' : 'myMessage'">
        <p>{{msg.content}}</p>
        <p class="date">{{msg.timestamp}}</p>
      </div>
      <div class="fromThem nohover restaurant" *ngIf="msg.type === 'menu'">
        <img [@fadeInOut] class="restaurantLogo" src="{{msg.restaurant.logoImage}}" />
        <h3 text-center no-margin>مطعم {{msg.restaurant.name}}</h3>
        <ion-grid>
          <ion-row wrap style="text-align: -webkit-center;">
            <ion-col *ngFor="let item of msg.restaurant.menu">
              <ion-card [@fadeInOut] class="fancy-card sm-card" no-margin>
                <div class="image-placeholder" [ngStyle]="{ 'background-image': 'url('+item.image+')'}">
                </div>
                <ion-card-content>
                  <ion-card-title>
                    {{item.name}}
                  </ion-card-title>
                  <p class="price" dir="rtl">
                    {{item.price}} ريال
                  </p>
                  <ion-row class="button-bar" wrap align-items-center justify-content-around>
                    <button color="smoke" ion-button icon-only small>
                      <ion-icon color="red" name="ios-settings"></ion-icon>
                    </button>
                    <button ion-button icon-only clear (click)="item.remove()">
                      <ion-icon color="red" name="remove"></ion-icon>
                    </button>
                    <p>{{item.quantitiy}}</p>
                    <button ion-button icon-only clear (click)="item.add(1)">
                      <ion-icon color="red" name="add"></ion-icon>
                    </button>
                  </ion-row>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
          <div class="bottom-btns">
            <button ion-button color="red" block (click)="order(msg.restaurant)">اطلب</button>
            <button ion-button clear block icon-only (click)="loadMoreItems(msg.restaurant)">
              <ion-icon color="red" name="ios-arrow-down"></ion-icon>
            </button>
          </div>
        </ion-grid>
      </div>
      <div class="fromThem nohover restaurant" *ngIf="msg.type === 'restaurants-list'">
        <ion-grid>
          <ion-row wrap *ngFor="let restaurant of restaurants">
            <!-- <ion-col *ngFor="let restaurant of restaurants"> -->

            <ion-card [@fadeInOut] class="fancy-card restaurants-list" no-margin>
              <ion-item>
                <ion-avatar item-start>
                  <img [@fadeInOut] class="restaurants-list-logo" src="{{restaurant.logoImage}}" />
                </ion-avatar>
                <h2> {{restaurant.name}}</h2>
                <p>{{restaurant.location}}</p>
              </ion-item>
              <div>
              </div>
              <ion-row>
                <ion-col>
                  <button ion-button clear small>
                    <rating [(ngModel)]="restaurant.rate" value="3" nullable="true">
                    </rating>
                  </button>
                </ion-col>
                <ion-col center text-center>
                  <button ion-button clear small color="red" (click)="updateConversationWithRestaurant(restaurant)">اطلب</button>
                </ion-col>
                <ion-col center text-center>
                  <p>توصيل</p>
                  <!-- <br> -->
                  <p>
                    ٣٠ دقيقة
                  </p>
                </ion-col>
              </ion-row>
              <hr>
            </ion-card>
            <!-- </ion-col> -->
          </ion-row>
          <button ion-button clear block icon-only (click)="loadMoreRestuarants()">
            <ion-icon color="red" name="ios-arrow-down"></ion-icon>
          </button>
        </ion-grid>
      </div>
      <div class="fromThem nohover restaurant" *ngIf="msg.type === 'receipt'">
        <ion-card class="receipt fancy-card">
          <ion-card-header class="receipt-header" text-center>
            ملخص الطلب من
            <span style="color: #e30000">{{msg.restaurant.name}}</span>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <span *ngFor="let item of msg.restaurant.menu">
                <ion-item *ngIf="item.quantitiy > 0">
                  <ion-avatar item-start>
                    <img src="{{item.image}}">
                  </ion-avatar>
                  <ion-row justify-content-between>
                    <h2>{{item.name}}</h2>
                    <h2 class="red">x {{item.quantitiy}}</h2>
                  </ion-row>
                  <p>
                    {{item.price}} ريال
                  </p>
                </ion-item>
              </span>
              <ion-item item-start>
                <h3 dir="rtl">الاجمالي</h3>
                <h3 dir="rtl" class="red">{{msg.restaurant.total}} ريال</h3>
              </ion-item>
            </ion-list>
          </ion-card-content>

        </ion-card>

        <!-- <ion-card class="receipt fancy-card">
          <ion-card-header class="receipt-header" text-center>
            موقع التوصيل
          </ion-card-header>
          <ion-card-content>
            <div #map id="map"></div>
          </ion-card-content>

        </ion-card> -->
        <div class="bottom-btns">
          <button ion-button color="red" block (click)="pay(msg.restaurant)">ادفع</button>
          <button ion-button color="red" block outline (click)="updateConversationWithRestaurant(msg.restaurant)">تعديل</button>
        </div>
      </div>
      <div class="fromThem nohover restaurant" *ngIf="msg.type === 'payment'">
        <payment (notify)='sendOrder($event, msg.restaurant)'></payment>
      </div>
      <div class="fromThem nohover restaurant" *ngIf="msg.type === 'order_status'">
        <order-status></order-status>
      </div>
    </div>
  </div>
</ion-content>
<suggestions #suggestions (notify)='pickSuggestion($event)'></suggestions>
<ion-footer (touchstart)="footerTouchStart($event)">
  <ion-toolbar class="bottom-bar">
    <ion-buttons left>
      <ion-row wrap>
        <button ion-button icon-only clear color="red" (touchstart)="touchSendButton($event);" [disabled]="message == ''">
          <ion-icon name="send"></ion-icon>
        </button>
        <button ion-button icon-only clear [ngStyle]="{'color': recording ? '#e30000' : '#f7c74d'}" (touchstart)="touchSpeakButton($event);">
          <ion-icon name="ios-mic"></ion-icon>
        </button>
      </ion-row>

    </ion-buttons>
    <form>
      <ion-input class="message" type="text" placeholder="ادخل رسالتك.." [(ngModel)]="message" (keyup.enter)="send();" name="message"></ion-input>
    </form>
  </ion-toolbar>
</ion-footer>