order-status {
  .tracking-progress-bar {
    margin: 10px 0;
    text-align: -webkit-center;
  }
  .tracking-progress-bar__item {
    background: #E5E7ED;
    border-radius: 50%;
    color: #768CAD;
    display: inline-block;
    font-family: sans-serif;
    font-size: 10px;
    height: 22px;
    line-height: 22px;
    position: relative;
    text-align: center;
    width: 23px;
    z-index: 9;
  }
  .tracking-progress-bar__item__bar {
    background: whitesmoke;
    display: inline-block;
    margin: 0 -7px;
    height: 5px;
    width: 40px;
    z-index: 2;
  }
  .tracking-progress-bar__item__bar--active {
    background: #e30000;
  }
  .tracking-progress-bar__item--first {
    margin-left: 0;
  }
  .tracking-progress-bar__item--active {
    background: #e30000;
    color: #fff;
  }
  .status-info {
    background-color: whitesmoke;
    height: 50px;
    box-shadow: 0 2px 4px 0 rgba(124, 37, 37, 0.1);
    border-radius: 4px;
    margin-bottom: 20px;
  }
  .status-info h4 {
    padding: 20px 0px;
  }
}