<!-- Generated template for the PaymentComponent component -->
<ion-card class="receipt fancy-card">
  <ion-card-header class="receipt-header" text-center>
    <h2 dir="rtl">طلبك جاي في الطريق! 🚘</h2>
  </ion-card-header>
  <ion-card-content padding-horizontal>
    <div>

      <div class="tracking-progress-bar">
        <div class="tracking-progress-bar__item tracking-progress-bar__item--first tracking-progress-bar__item--active">1</div>

        <span class="tracking-progress-bar__item__bar tracking-progress-bar__item__bar--active"></span>
        <div class="tracking-progress-bar__item tracking-progress-bar__item--active">2</div>

        <span class="tracking-progress-bar__item__bar"></span>
        <div class="tracking-progress-bar__item">3</div>

        <span class="tracking-progress-bar__item__bar"></span>
        <div class="tracking-progress-bar__item">4</div>
      </div>
      <!-- boleto__wrapper -->
    </div>
    <div class="status-info" text-center>
      <h4 dir="rtl">حاليًا يتم تحضير الطلب ⏳</h4>
    </div>
  </ion-card-content>
</ion-card>