<img [@fadeInOut] class="restaurantLogo" src="{{restaurant.logoImage}}" />
<h3 text-center no-margin>مطعم {{restaurant.name}}</h3>
<ion-grid>
  <ion-row wrap style="text-align: -webkit-center;">
    <ion-col *ngFor="let item of restaurant.menu">
      <ion-card [@fadeInOut] class="menuItem sm-card" no-margin>
        <div class="image-placeholder" [ngStyle]="{ 'background-image': 'url('+item.image+')'}">
        </div>
        <ion-card-content>
          <ion-card-title>
            {{item.name}}
          </ion-card-title>
          <p class="price">
            {{item.price}} ريال
          </p>
          <ion-row class="button-bar" wrap align-items-center justify-content-around>
            <button color="smoke" ion-button icon-only small>
              <ion-icon color="red" name="ios-settings"></ion-icon>
            </button>
            <button ion-button icon-only clear (click)="item.remove()">
              <ion-icon color="red" name="remove"></ion-icon>
            </button>
            <p>{{item.quantitiy}}</p>
            <button ion-button icon-only clear (click)="item.add()">
              <ion-icon color="red" name="add"></ion-icon>
            </button>
          </ion-row>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
  <div class="bottom-btns">
    <button ion-button color="red" block (click)="order(restaurant)">اطلب</button>
    <button ion-button clear block icon-only (click)="loadMoreItems(restaurant)">
      <ion-icon color="red" name="ios-arrow-down"></ion-icon>
    </button>
  </div>
</ion-grid>