<!-- Generated template for the PaymentComponent component -->
<ion-card class="receipt fancy-card">
  <ion-card-header class="receipt-header" text-center>
    <ion-segment [(ngModel)]="type">
      <ion-segment-button class="payment-button" value="cash">
        <ion-icon name="cash"></ion-icon>
      </ion-segment-button>
      <ion-segment-button class="payment-button" value="card">
        <ion-icon name="card"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-card-header>
  <ion-card-content padding-horizontal>
    <div [ngSwitch]="type">
      <div *ngSwitchCase="'cash'">
        <div padding text-center>
          <p padding-bottom>💰 تحتاج صرف؟</p>
          <ion-segment dir="rtl" [(ngModel)]="change">
            <ion-segment-button class="change-button" value="50">
              <ion-icon name="md-cash"></ion-icon>
              <h4>50 ريال</h4>
            </ion-segment-button>
            <ion-segment-button class="change-button" value="100">
              <ion-icon name="md-cash"></ion-icon>
              <h4>100 ريال</h4>
            </ion-segment-button>
            <ion-segment-button class="change-button" value="500">
              <ion-icon name="md-cash"></ion-icon>
              <h4>500 ريال</h4>
            </ion-segment-button>
          </ion-segment>
        </div>
      </div>
      <div *ngSwitchCase="'card'">
        <div class="card-container">
          <img src="http://www.pngmart.com/files/3/Credit-Card-Visa-And-Master-Card-Transparent-PNG.png" alt="">
          <ion-item>
            <ion-input type="text" placeholder="NAME ON CARD"></ion-input>
          </ion-item>

          <ion-item>
            <ion-input type="text" placeholder="CARD NUMBER"></ion-input>
          </ion-item>
          <ion-row wrap justify-content-start>
            <ion-col col-3>
              <ion-item>
                <ion-input type="text" placeholder="02"></ion-input>
              </ion-item>

            </ion-col>
            <ion-col col-4>
              <ion-item>
                <ion-input type="text" placeholder="2017"></ion-input>
              </ion-item>
            </ion-col>

            <ion-col push-1 col-4 style="padding-right: 0px;">
              <ion-item>
                <ion-input type="text" placeholder="CV"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>

        </div>
      </div>
    </div>
  </ion-card-content>
</ion-card>
<div class="bottom-btns">
  <button ion-button color="red" block (click)="sendOrder()">ارسل الطلب</button>
</div>